.wrapper {
  margin-top: 1.2rem;
}

.input {
  width: 100%;
  padding: 1.8rem;
  border: none;
  background: #ddeef9;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.error {
  color: #f31;
  margin-top: 0.25rem;
  font-size: 0.875rem;
}
