.inboundCoitainer {
  display: flex;
  flex-direction: column;
}

.topContainer {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}

.boxItemsLeft {
  display: flex;
  gap: 2rem;
  flex: 1;
}

.select {
  font-family: inherit;
  font-size: 2rem;
  width: 50%;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: rgba(112, 112, 112, 0.37) solid 2px;
  color: #4f5860;
  border-radius: 0.4rem;
  outline: none;
  background-color: white;
}

.quantity {
  width: 8%;
  font-size: 2rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.date {
  width: 20%;
  font-size: 1.4rem;
  display: flex;
  padding-left: 0.5rem;
}

.boxItemsRight {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 2rem;
}

.button {
  font-size: 2rem;
  padding: 0.5rem 2rem;
  color: white;
  background-color: var(--blue-dark-color);
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

.listItemInbound {
  width: calc(100% - 15px);
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  height: 30.1rem;
  overflow-y: scroll;
}

.listItemInbound::-webkit-scrollbar {
  width: 1rem;
  border-radius: 13px;
  padding: 2rem;
}
.listItemInbound::-webkit-scrollbar-thumb {
  background-color: #4f5860;
  border-radius: 1rem;
  border-left: 2px solid #d9d9d9;
  border-right: 2px solid #d9d9d9;
}
.listItemInbound::-webkit-scrollbar-track {
  background-color: #e4eff6;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem 4rem 1.3rem 1rem;
  width: calc(100% - 15px);
  border-radius: 0.5rem;
  background: #e5eff6;
}

.item p {
  font-weight: bold;
  font-size: 2rem;
  color: #4f5860;
}

.rightItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.removeBtn {
  width: 2rem;
  height: 2rem;
  border: none;
  background: inherit;
  cursor: pointer;
}
